* {
  box-sizing: border-box;
}

.header {
  background-color: darkslategray;
  padding: 30px;
  text-align: center;
  font-family: Rockwell Extra Bold,Rockwell Bold,monospace;
  font-size: 35px;
  color: white;
}

.nav {
  float: left;
  width: 22%;
  font-size: 30px;
  height: 520px;
  background: #ccc;
  font-family: Brush Script MT,cursive;
  padding: 20px;
  color: darkmagenta;
}

.nav ul {
  list-style-type: none;
  padding: 0;
}

.nav2 {
  float: right;
  width: 25%;
  height: 520px;
  background: #ccc;
  padding: 20px;
}

.article {
  float: left;
  padding: 20px;
  font-family: monaco,Consolas,Lucida Console,monospace;
  font-size: 22px;
  color: dodgerblue;
  width: 53%;
  background-color: #f1f1f1;
  height: 520px;
}

img {
  height: 340px;
  width: 390px;
  border: 1px solid #ddd;
  border-radius: 4px;
  }

.footer {
  background-color: #777;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  color: white;
  }

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
