* {
  box-sizing: border-box;
}

.header {
  background-color: darkslategray;
  padding: 30px;
  text-align: center;
  font-family: Rockwell Extra Bold,Rockwell Bold,monospace;
  font-size: 35px;
  color: white;
}


@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
